.detail{
    
    display: flex;
}
.cardTitle{
    display: flex;
    justify-content: center;
}

.brand-logo{
    width: 20%;
    display: flex;
    justify-content: start;
    margin-left: 20%;
}
.counter{
    
    margin: 2%;
    height: 2%;
    width: 40%;
}
.card-text{
    display: flex;
    justify-content: center;
    width: 45%;
}


