.cardDetail{
    display: flex;
    justify-content: center;
 
}

.counter{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    height: 2%;
}



.contador{
    display: flex;
    justify-content: flex-start;
    width: 20%;
}
