.brand-logo {
    height: 50%;
    pointer-events: none;
  }

  .coffeeing {
    text-align: left;  
  }

  .categorias{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-between;
  }
  
  .item_cant{
    color: rgba(255,255,255,.55);
    display:inline-flex;
    justify-content:right;
    margin: 5%;
  }
  .shopping_cart{
      width: 15%;
  }

  