.contador{
    display: flex;
    justify-content: space-between;
    width: 40%;
    
    
}


.items{
    margin: 3%;
}

.boton{
    color: rgba(255,255,255,.55);
    height: 2%;
}

.addButton{
    border-radius: 0.25rem;
    width: 40%;
    
}
.add{
    font-size: 70%;
}