.contador{
    display: flex;
    justify-content: space-between;
    width: 17%;
    border: rgb(105, 102, 102);
    
    
}

.items{
    margin: 3%;
}

.boton{
    color: rgba(255,255,255,.55);
    height: 2%;
}

.addButton{
    width: 50%;
    border-radius: 0.25rem;
    
}
.add{
    font-size: 70%;
}